<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Car Listing</title>
    </head>
    <body>
    <div class="container">
    <h1>Car Listing</h1>


        {% if cars_matching_search is empty %}
            <h2>No matching result!</h2>";
        {% else %}
            {% for car in cars_matching_search %}
                <li> {{ car.getMakeModel }} </li>
                <ul>
                    <li>${{ car.getPrice }} </li>
                    <li>Miles: {{ car.getMiles }}</li>
                    <li><img src= {{ car.getImage }} width='300'></li>
                </ul>";
            {% endfor %}
        {% endif %}
    </body>
 </html>
