<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Car Listing</title>
    </head>
    <body>
    <div class="container">
    <h1>Car Listing</h1>

        {% if cars is empty %}
            <h3>No matching result!</h3>
            {% else %}
                {% for car in cars %}
                    <li> {{ car.getMakeModel }} </li>
                    <ul>
                        <li>Price: ${{ car.getPrice }} </li>
                        <li>Miles: {{ car.getMiles }} miles</li>
                        <li>{% if car.getImage is empty %}
                                No image provided.
                            {% else %}
                            <img src="{{ car.getImage }}" width="300px" alt="car image"></img>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
        {% endif %}

        <div class="btn-group" role="group">
            <a href="/search">
                <button type='button' class="btn btn-default">Go Back</button>
            </a>
        </div>

        <div class="btn-group" role="group">
            <a href="/">
                <button type='button' class="btn btn-success">Home</button>
            </a>
        </div>
    </body>
 </html>
