<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Cars Posted</title>
</head>
<body>
    <div class="container">
        <h1>Cars Posted</h1>

        {% if cars is not empty %}
            <h3>Here are the cars for sale:</h3>
                <ul>
                    {% for car in cars %}
                        <li>{{ car.getMakeModel }}
                            <ul><li>Price: ${{ car.getPrice }}</li>
                                <li>Miles: {{ car.getMiles }} miles</li>
                                <li>{% if car.getImage is empty %}
                                        No image provided.
                                    {% else %}
                                        <img src="{{ car.getImage }}" width="300px"></img>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
        {% endif %}

        <form action='/cars' method='post'>
            <div class="form-group">
                <label for='model'>Car Model</label>
                <input id='model' name='model' class="form-control" type='text'>
            </div>

            <div class="form-group">
                <label for='price'>Car Price ($)</label>
                <input id='price' name='price' class="form-control" type='number'>
            </div>

            <div class="form-group">
                <label for='miles'>Mileage (miles)</label>
                <input id='miles' name='miles' class="form-control" type='number'>
            </div>

            <div class="form-group">
                <label for='image_path'>Image URL of the Car</label>
                <input id='image_path' name='image_path' class="form-control" type='text'>
            </div>

            <div class="btn-group" role="group">
                <button type='submit' class="btn btn-primary">Add a Car</button>
            </div>
        </form>

        <form action='/delete_car' method='post'>
            <button type='submit' class='btn btn-default'>Clear List</button>
        </form>

        <div class="btn-group" role="group">
            <a href="/">
                <button type='button' class="btn btn-success">Home</button>
            </a>
        </div>
    </div>
</body>
</html>
