<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Car Added</title>
</head>
<body>
    <div class="container">
        <h1>You added a car!</h1>
        <p>{{ newcar.getMakeModel }}</p>
        <p><a href="/post">View the list of cars.</a></p>
    </div>
</body>
</html>
