<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Car Listing</title>
  </head>
  <body>
    <div class="container">
        <h1>List cleared!</h1>

        <div class="btn-group" role="group">
            <a href="/post">
                <button type='button' class="btn btn-default">Back</button>
            </a>
        </div>
    </div>
  </body>
</html>
