<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Car Dealership</h1>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href="/post">
                        <button type='button' class="btn btn-primary">Sell a Car</button>
                    </a>
                </div>

                <div class="btn-group" role="group">
                    <a href="/search">
                        <button type='button' class="btn btn-danger">Buy a Car</button>
                    </a>
                </div>
            </div>
    </div>
</body>
